<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body class="hero_img">
    <div class="page_container">
      <p class="home_notice"></p>
    <h1 class="home_header">Prem Picks</h1>
    </div>
  </body>
</html>
<script>
$(document).ready(function() {
  $('.messages').addClass('messages home_notice');
  $('.dummy_sign_up').mouseover(function(){
  $('.home_notice').text('Registration is closed for the season');
  }).mouseout(function(){
  $('.home_notice').text('');
  });
})
</script>