<div class="page_container">
<h2>Rules</h2>
<div class="rules_cnt">
  <div class="rules_sec">
    <h4>General</h4>
    <p>Every week, you pick a team to win. Points are received or deducted based on the result. The season is divided into two halves, you cannot pick the same team in the same half. There are 19 matches in each half  of the season, meaning one team goes unpicked each half.
    </p>
  </div>
  <div class="rules_sec">
    <h4>Scoring</h4>
    <table class="rules_tb">
      <tr><th></th><th>Pts</th></tr>
      <tr><td>Win</td><td>2</td></tr>
      <tr><td>Loss</td><td>-3</td></tr>
      <tr><td>Draw</td><td>1</td></tr>
      <tr><td>Clean Sheet</td><td>1</td></tr>
      <tr><td>GD Factor</td><td>1</td></tr>
      <tr><td>Top 6 Loss</td><td>-1</td></tr>
      <tr><td>Newly Promoted Win</td><td>1</td></tr>
    </table>
    <ul class="points_list">
      <li>Goal Difference Factor: If the team you pick wins by 3 or more goals, you will receive a bonus point, and vice versa.</li>
      <li>Top 6 Loss: If you pick any team who finished in the top 6 last year and they lose, there is an additional point deduction.</li>
      <li>Newly Promoted Win: If you pick any of the newly promoted teams and they win, you will receive a bonus point.</li>
    </ul>
  </div>
  <div class="rules_sec">
    <h4>Picking</h4>
    <p>Picks must be in by kick off of the first match of the matchday. Any time a pick is not made by this time, the team that finished highest in the last years standings that is still available will be assigned. Any matches postponed still count for that same matchday and points will be tallied once the match is completed. You cannot pick the same team twice in a half of the season, the pool of available teams resets at match 20.</p>
  </div>
<% if user_signed_in? %>
  <div class="rules_sec">
    <h4>Payouts</h4>
    <table class="rules_tb">
      <tr><th></th><th colspan="2">Per Half</th><th colspan="2">Overall</th></tr>
      <tr><td>1st</td><td>14%</td><td>$143</td><td>28%</td><td>$286</td></tr>
      <tr><td>2nd</td><td>8%</td><td>$82</td><td>15%</td><td>$150</td></tr>
      <tr><td>3rd</td><td>3%</td><td>$31</td><td>7%</td><td>$72</td></tr>
    </table>
    <p>The pot is $1,020. There are payouts for placing in the first half, second half and full season.</p>
  </div>
<%end%>
</div>
</div>
