<% unless @current_matchday > 19 %>
<div class="switch-button standings_switch"><span class="active active_1h"></span>
  <button class="switch-button-case left-button active-case">1st Half</button>
  <button class="switch-button-case center-button">Season</button>
  <button class="switch-button-case right-button">2nd Half</button>
</div>
<% else %>
<div class="switch-button standings_switch"><span class="active active_2h_st"></span>
  <button class="switch-button-case left-button">1st Half</button>
  <button class="switch-button-case center-button active-case">Season</button>
  <button class="switch-button-case right-button">2nd Half</button>
</div>
<% end %>