<div class="page_container">
      <h1 class="home_header">Prem Picks</h1>
      <div class="landing_buttons">
      <%= link_to "Log in", new_user_session_path, class: "btn landing-btn" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn landing-btn"%>
      </div>
</div>
