<div class="switch-button mypicks_switch"><span class="active_mypicks"></span>
  <button class="switch-button-case first-half-button %{ active-case unless (@md_count > 19) }">
  1st Half
</button>
  <button class="switch-button-case second-half-button %{ active-case unless (@md_count < 20) }">
  2nd Half
  </button>
</div>