<div class="switch-button mypicks_switch"><span class="active_mypicks"></span>
  <button class="switch-button-case first-half-button">
  1st Half
</button>
  <button class="switch-button-case second-half-button active-case">
  2nd Half
  </button>
</div>