<div class="switch-button standings_switch"><span class="active"></span>
  <button class="switch-button-case left-button active-case">1st Half</button>
  <button class="switch-button-case center-button">Season</button>
  <button class="switch-button-case right-button">2nd Half</button>
</div>