<div class="page_container">
  <%= render 'picks/mypicks/my_picks_buttons'%>
  <%= render 'picks/mypicks/firsthalf'%>
  <%= render 'picks/mypicks/secondhalf'%>
</div>

<script type="text/javascript">
  picksForm();
</script>