<!-- <div class="page_container"> -->
  <hr>
  <!-- <%# unless @second_timer < 1%> -->
    <%= render 'picks/standings/standings_buttons' %>
  <!-- <%#end%> -->

  <div class="table-responsive table_container">
    
    <%= render 'picks/standings/first_half_table' %>
    <!-- <%# unless @second_timer < 1%> -->
    <%= render 'picks/standings/seasontable' %>
    <%= render 'picks/standings/second_half_table' %>
    <!-- <%#end%> -->
  </div>

<!-- </div> -->
<script type="text/javascript">
highlightCells();
teamOrName();
  var tableContainer = document.getElementsByClassName('table_container')[0];
  tableContainer.onLoad = setSecondColumn();
  $(function () {
    $(window).resize(function () {
      setSecondColumn();
    });
  });
</script>
