<h2>Picks Standings</h2>

<table>
  <tr>
    <th></th>
    <th>Points</th>
    <% 38.times do |n|%>
      <th class="th_match"><%=n+1%></th>
    <%end%>
  </tr>
<% @allusers.each do |u|%>
<tr>
<th><%= u.team_name%></th>
<th><%= Pick.where(:id => u.id ).sum(:points) %></th>
<!-- DB query -->
<% Pick.where(:user_id => u.id).order('matchday asc').each do |t|%>
<th class="th_match"><%= t.team_id %></th>
<%end%>
</tr>
<%end%>
</table>
