<div class="page_container">
<h2>Standings</h2>

<% @allusers.each do |u| %>
  <%=u%>
<%end%>


<script type="text/javascript">
$(document).ready(function() {
  $('.pt_cell').each(function() {
    if (parseInt($(this).text()) > 2){
      $(this).addClass('pt_cell_w');
    }else if(parseInt($(this).text()) < 0){
      $(this).addClass('pt_cell_l');
    }else{
      $(this).addClass('pt_cell_d');
    }
  });
})
</script>
