<div class="page_container">
<h2>Standings</h2>

<table class="picks_standings">
  <tr>
    <th></th>
    <th>Points</th>
    <% 38.times do |n|%>
    <th class="th_match"><%=n+1%></th>
    <%end%>
  </tr>
  <% @allusers.each do |u|%>
  <tr>
  <td class="team_cell"><%= u.team_name%></td>
  <td><%= Pick.where(:id => u.id ).sum(:points) %></td>
  <% Pick.where(:user_id => u.id).order('matchday asc').first(@md_count).each do |t|%>
  <td class="th_match"><%= t.team_id %></td>
  <%end%>
  <% (38-@md_count).times do%>
  <td class="th_match"></td>
  <%end%>
  </tr>
  <%end%>
</table>
</div>
<script type="text/javascript">

</script>
