<div class="page_container">
  <h2 class="page_header">Standings</h2>
  <% unless @second_timer < 1%>
    <%= render 'picks/standings_buttons' %>
  <%end%>

  <div class="table-responsive table_container">
    
    <%= render 'picks/first_half_table' %>
    <% unless @second_timer < 1%>
    <%= render 'picks/seasontable' %>
    <%= render 'picks/second_half_table' %>
    <%end%>
  </div>

</div>
<script type="text/javascript">
highlightCells();
// idSwitchButtons();
teamOrName();
  var tableContainer = document.getElementsByClassName('table_container')[0];
  tableContainer.onLoad = setSecondColumn();
  $(function () {
    $(window).resize(function () {
      setSecondColumn();
    });
  });
</script>
