// Place all the styles related to the epldata controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.epl_table{
position: absolute;
left: 0;
right: 0;
margin: auto;
width: 80%

}
.table_top{
  background-color: purple;
  color: white
}
