// Place all the styles related to the epldata controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.epl_table {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  font-size: 14px;
  tr {
    border: 1px solid black;

    td {
      border: inherit;
      text-align: center;
    }
  }
}
