// Place all the styles related to the epldata controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.epl_table {
  text-align: center;
  line-height: 1;
  // background: white;
  background: var(--table_bkgd_color);
  border: 1px solid black;
  border-bottom: 1px solid black;
  tr {
    border: 1px solid black;
    td, th {
      border: inherit;
      border-bottom: 1px solid black;
    }
    .no_phone{
      display: none;
    }
  }
  td:nth-child(-n + 2){
  background-color: #EDEAEA;
  }
}

@media only screen and (min-width: 667px) {
    /* For landscape mobile: */
  .no_phone{
    display: table-cell !important;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
}