.foot{
  background: linear-gradient(90deg, rgba(31,89,47,1) 0%, rgb(41, 161, 111) 35%, rgb(8, 78, 31) 100%) !important;
  text-align: center;
  color: var(--theme_text_clr) !important;
  flex-shrink: none;
  position: relative;
  font-size: 12px;
  .foot_link{
    text-decoration: none;
    color: inherit;
    font-size: inherit
  }
}