body{
  font-family: 'Kanit', sans-serif;
}
h2 {
  font-style: oblique;
  text-align: center;
}
.table_top {
  background-color: #717274;
  color: #00ace6;
  text-shadow: black 0 0 10px;
}
.page_container{
  height: 100%;
  width: 100%;
  }
.flashes{
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  height: 12px;
  margin-bottom: 4px;
  color: white;
  p{
    margin: 0 auto;
  }
}
.page_header{
  color: #00ace6;
  text-shadow: 2px 2px #00394d;
}