.navbar{
  position: static;
  left: 50%;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  background-color: #717274;
  background: linear-gradient(90deg, rgba(77,77,78,1) 0%, rgba(129,131,135,1) 35%, rgba(70,70,71,1) 100%);
  color: #00ace6;
  text-shadow: black 0px 0px 10px;
  border-radius: 0 0 180px 180px;
  a {
    float: left;
    font-size: 16px;
    color: #00ace6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 30px;
  }

}
.dummy_btn{
  float: left;
  font-size: 16px;
  color: #00ace6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 30px;
  background-color: inherit;
  border: none;
  text-shadow: black 0px 0px 10px;
}
.dummy_btn:focus, .ex_button:focus{
  outline: none
}
.ex_button{
  position: absolute;
  text-decoration: none;
  background-color: inherit;
  border: none;
  color: #00ace6;
  text-align: center;
  display: none;
  right: 0;
  cursor: pointer;
  i{
    font-size: 2em;
    padding-bottom: 2px;
    text-shadow: black 0px 0px 10px;
  }
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
font-size: 16px;
 border: none;
 outline: none;
 color: #00ace6;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
 text-shadow: black 0px 0px 10px;
 border-radius: 30px;
}
.drop-cont {
    display: none;
    position: absolute;
    background-color: #F6F6F7;
    text-shadow: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0 0 30px 30px;
    a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        z-index: inherit;
    }
}
.dropdown:hover .drop-cont {
    display: block;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dummy_btn:hover {
    background-color: #B5B7BC;
}
.nav_right {
  float: right !important;
}
.nav_title{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-style: oblique;
  font-size: 40px;
  margin-top: -4px;
  width: 25%;
}
.nav_msg{
  position: relative;
  left: 0;
  right: 0;
  // height: 3%;
  // margin: auto;
  text-align: center;
  p{
    // height: auto;
    margin: 0 auto;
  }
}

@media all and (max-width: 480px) {
.navbar{
  border-radius: 0;
  width: 100%;
  left: auto;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
  min-height: 36px;
  .nav_title{
  font-size: 35px;
  }
  a, .dropdown, .dummy_btn{
    display: none;
    width: 100%;
    text-align: center;
    border-radius: 0;
    padding: 14px 0px
  }
  .nav_title{
    width: 35%;
  }
  .dropdown{
    padding: 0;
    .dropbtn{
      width: 100%;
      border-radius: 0;
    }
  }
  .drop-cont{
    border-radius: 0;
    position: relative;
    background: linear-gradient(90deg, rgba(77,77,78,1) 0%, rgba(129,131,135,1) 35%, rgba(70,70,71,1) 100%);
    a{
      color: #00ace6;
      text-shadow: black 0px 0px 10px;
    }
  }
  i{
    display: block;
  }
}
.nav_top{
  margin-top: 30px;
}
.ex_button{
  display: block;
}
}
