:root{
--nav_font_sz: 16px;
--nav_text_clr: #00ace6;
--nav_bkgd_clr: #717274;
--nav_title_ft_sz: 40px;
}
.navbar{
  background: linear-gradient(90deg, rgba(77,77,78,1) 0%, rgba(129,131,135,1) 35%, rgba(70,70,71,1) 100%);
  text-shadow: black 0px 0px 10px;
}
.nav_title {
  // position: absolute;
  // left: 0;
  // right: 0;
  // margin: auto;
  text-align: center;
  font-style: oblique;
  font-size: var(--nav_title_ft_sz);
  color: var(--nav_text_clr) !important;
}
.nav-link {
  color: var(--nav_text_clr) !important
}