// Place all the styles related to the picks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.picks_standings{
  border: 1px solid black;
  table-layout: auto;
  tr{
    th, td{
      border: 1px solid black;
      // width: 8px;
      // height: 6px;
      text-align: center;
    }
  }
}
