.rules_cnt{
  @extend .content_container;
  margin-top: -9% !important;
  height:94%;
}
.rules_tb{
  position: relative;
  table-layout: auto;
  background-color: #EDEAEA;
  opacity: .7;
  border: 1px solid white;
  border-collapse: collapse;
  float: left;
  margin-right: 32px;
  tr, th, td{
    border: 1px solid black;
    text-align: center;
  }
}
.rules_sec{
  position: relative;
  margin: 0 4%;
  height: auto;
  overflow: scroll;
  margin-bottom: 12px;
}
.points_list{
  position: relative;
}
@media only screen
and (min-width: 640px)
and (max-width: 812px)
and (orientation: landscape) {
    /* For landscape mobile: */
  .rules_cnt{
    margin-top: -8%;
    height: 104%;
  }
}
@media only screen and (min-width: 813px) {
  /* For desktop: */
  .rules_cnt{
    margin-top: -2% !important;
    height: 90%;
  }
}