// Place all the styles related to the picks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.picks_standings{
  border: 1px solid black;
  table-layout: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  // display: none;
  tr{
    th, td{
      border: 1px solid black;
      // width: 8px;
      // height: 6px;
      text-align: center;
    }
  }
}
.pt_cell{
}
.pt_cell_w{
  background-color: #009933;
}
.pt_cell_l{
  background-color: #990000;
}
.pt_cell_d{
  background-color: #ffd11a;
}
