:root{
--first_column_wd: 150px;
--second_column_wd: 60px;
--standings_col_padding: 218px;
--table_bkgd_color: rgba(244, 244, 244, .5);
}

.table_container{
  width: 90%;
  margin: 0 auto;
  margin-top: -1%;
  background:var(--table_bkgd_color);
  overflow-y: hidden;
}
.standings_table{
  margin-bottom: 0;
  text-align: center;
  // background:var(--table_bkgd_color);
  th, td{
    padding: .5rem;
  }
  th:first-child, td:first-child {
    
    width: var(--first_column_wd);
    // font-size: .75vw;
  };
  th:first-child{
    height: auto;
    background-color: var(--nav_bkgd_clr);
    color: var(--nav_bkgd_clr);
    text-shadow: none;
    // span{
    // }
  };
  td:first-child{
    white-space: nowrap;
    overflow: scroll;
  };
  th:nth-child(-n + 2), td:nth-child(-n + 2) {
    position: absolute;
    display: inline-block;
    z-index: 100;
  };
  th:nth-child(-n + 2){
    background-color: var(--nav_bkgd_clr);
  };
  td:nth-child(-n + 2){
    background-color: #EDEAEA;
  };
  th:nth-child(2), td:nth-child(2) {
    // left: var(--first_column_wd);
    width: var(--second_column_wd);
    white-space: nowrap;
    overflow: scroll;
  };
}

.standings_table>thead:first-child>tr:first-child>th:nth-child(3), .standings_table>tbody>tr>td:nth-child(3) {
  padding-left: var(--standings_col_padding) !important;
}
#standings_second{
  display: none;
}
// #standings_first{
//   display: none;
// }

@media only screen and (min-width: 667px) {
    /* For landscape mobile: */
    .table_container{
      margin-top: 0%
    }

}
@media only screen and (min-width: 768px) {
  /* For desktop: */

}

.pt_cell_w{
  background-color: #00CC33;
}
.pt_cell_l{
  background-color: #D54022;
}
.pt_cell_d{
  background-color: #FFFF99;
}