.switch-button{
    width: 90%;
    margin-top: 7%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    will-change: transform;
    z-index: 197 !important;
    cursor: pointer;
    transition: .3s ease all;
    border: 1px solid white;
    height: 40px;
    font-size: 11px;
    &-case{
        display: inline-block;
        background: none;
        // width: 32.5%;
        height: 100%;
        color: white;
        position: relative;
        border: none;
        transition: .3s ease all;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding-bottom: 1px;
        &:hover{
            color: grey;
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    .active, .active_mypicks {
        color: #151515;
        background-color: white;
        position: absolute;
        // left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        transition: .3s ease-out all;
        &-case{
            color: #151515;
        }
    }
    .active{
        width: 32.5%;
    }
    .active_mypicks{
        width: 50%;
    }
}
.active_1h{
    left: 0;
}
.active_2h{
    left: 50%;
}
.active_2h_st{
    left: 33.5%;
}
// .standings_switch{
//     width: 90%;
//     margin-top: 6%;
//     height: 40px;
//     font-size: 11px;
// }
.standings_switch{
    button{
        width: 32.5%
    }
}
.mypicks_switch{
    button{
        width: 49%;
    }
}

@media only screen and (min-width: 640px) {
    /* For landscape mobile: */
  .switch-button{
    margin-top: 4%
    
  }
}
@media only screen and (min-width: 813px) {
  /* For desktop: */
  .switch-button{
    margin-top: 2%;
    width: 40%;
  }
}