.switch-button{
    width: 90%;
    margin-top: 7%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    will-change: transform;
    z-index: 197 !important;
    cursor: pointer;
    transition: .3s ease all;
    border: 1px solid white;
    height: 40px;
    font-size: 11px;
    &-case{
        display: inline-block;
        background: none;
        height: 100%;
        color: white;
        position: relative;
        border: none;
        transition: .3s ease all;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-bottom: 1px;
        &:hover{
            color: grey;
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    .active_base {
        color: #151515;
        background-color: white;
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
        transition: .3s ease-out all;
    }
    .active_3_btn{
        @extend .active_base;
        width: 32%;
    }
    .active_2_btn{
        @extend .active_base;
        width: 50%;

    }
    .active-case{
        color: #151515;
    }
}
.active_2_btn_first{
    left: 0;
}
.active_2_btn_second{
    left: 50%;
}
.active_2h_st{
    left: 33.5%;
}

.switch_3_btn{
    button{
        width: 32%
    }
}
.switch_2_btn{
    button{
        width: 49%;
    }
}

@media only screen and (min-width: 640px) {
    /* For landscape mobile: */
  .switch-button{
    margin-top: 4%
    
  }
}
@media only screen and (min-width: 813px) {
  /* For desktop: */
  .switch-button{
    margin-top: 3%;
    width: 40%;
  }
}